/** According to the Google living style guide
* @see https://material.io/design/
*/

/**

-- Spectrum --

@include box-shadow(1);
@include box-shadow(2);
@include box-shadow(3);
@include box-shadow(4);
@include box-shadow(5);

- animation
@include box-shadow(1,2);
@include box-shadow(1,3);
@include box-shadow(1,4);
@include box-shadow(1,5);
@include box-shadow(1,6);

@include box-shadow(2,1);

-- Exemple --
.card {
  width: 95px;
  height: 95px;
  background: #f4f4f4;
  transition: all 250ms;
  @include box-shadow(); // No animation
}

.card-animated {
  @include box-shadow(1,3); // No animation
}

*/

@mixin box-shadow($elevation: 1, $animation: null) {
  @if $animation {
    transform: translateY(-5px);
    @include box-shadow($elevation);
    &:hover {
      @include box-shadow($animation);
    }
  } @else {
    @if $elevation == 1 {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    } @else if $elevation == 2 {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    } @else if $elevation == 3 {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    } @else if $elevation == 4 {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    } @else {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
  }
}
