// Init class

// Default class
.bg-white {
  background-color: #fff;
  &.contrast-content {
    * {
      color: #000;
    }
  }
}

.bg-black {
  background-color: #000;
  &.contrast-content {
    * {
      color: #fff;
    }
  }
}

@each $color, $tones in $us-colors {
  @each $tone, $value in $tones {
    @if ($tone == 'base') {
      // bg-primary for base color
      .bg-#{$color} {
        background-color: $value !important; // Override bootstrap value
        &.contrast-content {
          * {
            color: map-get(map-get($us-colors, $color), contrast);
          }
        }
      }
      .color-#{$color} {
        color: $value !important;
      }
      .border-#{$color} {
        border-color: $value !important;
      }
      .fill-#{$color} {
        fill: $value !important;
      }
      .stroke-#{$color} {
        color: $value !important;
      }
      .afterNBefore-#{$color} {
        &::before,
        &::after {
          background-color: $value !important;
        }
      }
    } @else {
      // bg-primary-light for shade
      .bg-#{$color}-#{$tone} {
        background-color: $value;
        &.contrast-content {
          * {
            color: map-get(map-get($us-colors, $color), contrast);
          }
        }
      }
      .color-#{$color}-#{$tone} {
        color: $value;
      }
      .border-#{$color}-#{$tone} {
        border-color: $value;
      }
      .fill-#{$color}-#{$tone} {
        fill: $value;
      }
      .stroke-#{$color}-#{$tone} {
        fill: $value;
      }
      .afterNBefore-#{$color}-#{$tone} {
        &::before,
        &::after {
          background-color: $value;
        }
      }
    }
  }
}
