@use '../mixins/browser' as *;

// <div class="bg-full"> inside the target folder
.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-center {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-fixed {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transform: translateZ(-100px) scale(1.1);
  @include ios {
    // ios doesn't work with cover
    // @TODO find a better fix
    background-size: 200%;
  }
  @extend .bg-container;
}
