@include xs {
  .xs-none {
    display: none !important;
  }
}
@include sm {
  .sm-none {
    display: none !important;
  }
}
@include md {
  .md-none {
    display: none !important;
  }
}
@include lg {
  .lg-none {
    display: none !important;
  }
}
@include xl {
  .xl-none {
    display: none !important;
  }
}
@include xxlUp {
  .xxl-none {
    display: none !important;
  }
}
