@use '../mixins/grid' as *;

@include sm {
  .sm-none {
    display: none !important;
  }
}
@include smUp {
  .smUp-none {
    display: none !important;
  }
}
@include md {
  .md-none {
    display: none !important;
  }
}
@include mdUp {
  .mdUp-none {
    display: none !important;
  }
}
@include lg {
  .lg-none {
    display: none !important;
  }
}
@include lgUp {
  .lgUp-none {
    display: none !important;
  }
}
@include xl {
  .xl-none {
    display: none !important;
  }
}
@include xlUp {
  .xlUp-none {
    display: none !important;
  }
}
@include xxl {
  .xxl-none {
    display: none !important;
  }
}
@include xxlUp {
  .xxlUp-none {
    display: none !important;
  }
}
