.inner-lighter {
  * {
    font-weight: 300;
  }
}
.inner-bold {
  * {
    font-weight: 600;
  }
}
.inner-bolder {
  * {
    font-weight: 700;
  }
}
.inner-boldest {
  * {
    font-weight: 700;
  }
}
