@use '../mixins/grid' as *;

.inner-lighter {
  * {
    font-weight: 300;
  }
}
.inner-bold {
  * {
    font-weight: 600;
  }
}
.inner-bolder {
  * {
    font-weight: 700;
  }
}
.inner-boldest {
  * {
    font-weight: 700;
  }
}

// Copied from https://www.impactplus.com/blog/best-font-size-for-website
:root {
  --font-biggest: 3em;
  --font-bigger: 2.25em;
  --font-big: 1.75em;
  --font-base: 1.125em;
  --font-small: 12px;
  --font-smaller: 10px;
  --font-smallest: 8px;
  @include lg {
    --font-biggest: 2.5em;
    --font-bigger: 2em;
    --font-big: 1.5em;
  }
  @include sm {
    --font-biggest: 2em;
    --font-bigger: 1.625em;
    --font-big: 1.375em;
    --font-base: 1.125em;
  }
}

h1 {
  font-size: var(--font-biggest);
  @include lgUp {
    line-height: 1.05em;
  }
  @include lg {
    line-height: 1.125em;
  }
  @include sm {
    line-height: 1.25em;
  }
}
h2 {
  font-size: var(--font-bigger);
  @include lgUp {
    line-height: 1.25em;
  }
  @include lg {
    line-height: 1.25em;
  }
  @include sm {
    line-height: 1.15em;
  }
}
h3 {
  font-size: var(--font-big);
  @include lgUp {
    line-height: 1.25em;
  }
  @include lg {
    line-height: 1.25em;
  }
  @include sm {
    line-height: 1.14em;
  }
}
h4 {
  font-size: var(--font-base);
  @include smUp {
    line-height: 1.22em;
  }
  @include sm {
    line-height: 1.11em;
  }
}

p,
a {
  font-size: var(--font-small);
  @include smUp {
    line-height: 1.375em;
  }
  @include sm {
    line-height: 1.25em;
  }
}

@media print {
  h1 {
    font-size: 36pt;
    line-height: 1.25em;
  }
  h2 {
    font-size: 24pt;
    line-height: 1.25em;
  }
  h3 {
    font-size: 18pt;
    line-height: 1.25em;
  }
  h4 {
    font-size: 14pt;
    line-height: 1.25em;
  }
  h5 {
    font-size: 12pt;
    line-height: 1.345833333em;
  }
  p,
  a {
    font-size: 12pt;
    line-height: 1.25em;
  }
}
