@use '../mixins/grid' as *;

.inner-lighter {
  * {
    font-weight: 300;
  }
}
.inner-bold {
  * {
    font-weight: 600;
  }
}
.inner-bolder {
  * {
    font-weight: 700;
  }
}
.inner-boldest {
  * {
    font-weight: 700;
  }
}

// Copied from https://www.impactplus.com/blog/best-font-size-for-website
:root {
  --h4: 1.125em; // 18px
  --p: 1em; // 16px
  --h5: 0.83em // 13.28px
  --h5-line-height: 1.4em;
  --h6: 0.75em; // 12px
  // --h6-line-height: 1.4em; // @TODO
  --small: 8px;

  @include lgUp {
    --h1: 3em; // 48px
    --h1-line-height: 1.05em;
    --h2: 2.25em; // 36px
    --h3: 1.75em; // 28px
  }
  @include lg {
    --h1: 2.5em; // 40px
    --h1-line-height: 1.125em;
    --h2: 2em; // 32px
    --h3: 1.5em; // 24px
  }
  @include smUp {
    --h2-line-height: 1.25em;
    --h3-line-height: 1.25em;
    --h4-line-height: 1.222em;
    --blockquote: 1.5em; // 24px
    --blockquote-line-height: 1.458em;
    --p-line-height: 1.375em;
  }
  @include sm {
    --h1: 2em; // 32px
    --h1-line-height: 1.25em;
    --h2: 1.625em; // 26px
    --h2-line-height: 1.154em;
    --h3: 1.375em; // 22px
    --h3-line-height: 1.136em;
    --h4-line-height: 1.111em;
    --p-line-height: 1.25em;
    --blockquote: 1.25em; // 20px
    --blockquote-line-height: 1.25em;
  }
}

h1 {
  font-size: var(--h1);
  line-height: var(--h1-line-height);
}
h2 {
  font-size: var(--h2);
  line-height: var(--h2-line-height);
}
h3 {
  font-size: var(--h3);
  line-height: var(--h3-line-height);
}
h4 {
  font-size: var(--h4);
  line-height: var(--h4-line-height);
}
h5 {
  font-size: var(--h5);
  line-height: var(--h5-line-height);
}
h6 {
  font-size: var(--h6);
  // line-height: var(--h6-line-height); //@TODO
}

p,
a {
  font-size: var(--p);
  line-height: var(--p-line-height);
}

blockquote {
  font-size: var(--blockquote);
  line-height: var(--blockquote-line-height);
}

small {
  font-size: var(--small);
}

@media print {
  h1 {
    font-size: 36pt;
    line-height: 1.25em;
  }
  h2 {
    font-size: 24pt;
    line-height: 1.25em;
  }
  h3 {
    font-size: 18pt;
    line-height: 1.25em;
  }
  h4 {
    font-size: 14pt;
    line-height: 1.25em;
  }
  h5 {
    font-size: 12pt;
    line-height: 1.345833333em;
  }
  p,
  a {
    font-size: 12pt;
    line-height: 1.25em;
  }
}
