@keyframes slidingTop {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  20% {
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    transform: translateY(100%);
    opacity: 0;
  }
  40% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slidingRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  20% {
    transform: translateX(100%);
    opacity: 0;
  }
  30% {
    transform: translateX(-100%);
    opacity: 0;
  }
  40% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slidingBottom {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  20% {
    transform: translateY(100%);
    opacity: 0;
  }
  30% {
    transform: translateY(-100%);
    opacity: 0;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidingLeft {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  20% {
    transform: translateX(-100%);
    opacity: 0;
  }
  30% {
    transform: translateX(100%);
    opacity: 0;
  }
  40% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
