body,
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

button,
button:focus,
input:focus,
textarea:focus {
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

[type='submit'] {
  appearance: none;
}

// Custom css class
// TODO: put those in separate scss file

.cursor-pointer {
  cursor: pointer;
}

.noScroll {
  // used by js func
  overflow: hidden;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
