body,
html {
  width: 100%;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

a {
  color: inherit;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

nav {
  ol,
  ul,
  li {
    list-style: none;
  }
}

button,
button:focus,
input:focus,
textarea:focus {
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

[type='submit'] {
  appearance: none;
}

// Custom css class
// TODO: put those in separate scss file

.cursor-pointer {
  cursor: pointer;
}

.noScroll {
  // used by js func
  overflow: hidden;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollbar-hidden {
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  -ms-overflow-style: none;
}

body.dark-mode {
  .dark-invert {
    filter: invert(1);
  }
}
