// https://uxdesign.cc/ui-cheat-sheet-spacing-friendships-e37a6fccc407

:root {
  --space-smallest: 4px; // BBFE
  --space-smaller: 8px; // Best friends
  --space-small: 12px;
  --space: 16px; // Close friends
  --space-big: 24px; // Close-ish friends
  --space-bigger: 32px; // Friends
  --space-biggest: 64px; // Acquaintances
  --space-giant: 64px; // Distant acquantances
  --space-gargantuan: 64px; // Stranger
}
