/**
@TODO: Add more animations

-- Exemple --
// pulse(duration, scale, curve, mode)
// spin(velocity, curve, mode)

.logo {
  @include pulse();
  @include spin();
}
.logo-once {
  @include pulse(3s, 2, ease-in-out, false);
  @include pulse(3s, ease-in-out, false);
}

.logo-backwards {
  @include pulse(3s, 2, ease-in-out, backwards);
  @include pulse(3s, ease-in-out, backwards);
}


**/

@mixin pulse($duration: 2.5s, $scale: 1.1, $curve: ease, $mode: infinite) {
  @keyframes pulse {
    @if ($mode == infinite) {
      50% {
        transform: scale($scale);
      }
      100% {
        transform: scale(1);
      }
    } @else {
      100% {
        transform: scale($scale);
      }
    }
    0% {
      transform: scale(1);
    }
  }

  @if ($mode == false) {
    animation: $duration $curve forwards pulse;
  } @else {
    animation: $duration $curve $mode pulse;
  }
}

@mixin spin($velocity: 1.5s, $curve: ease, $mode: infinite) {
  // @TODO: Finish it
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  @if ($mode == false) {
    animation: spin $velocity $curve forwards;
  } @else {
    animation: spin $velocity $curve $mode;
  }
}
