/** According to bootstrap screen size
* @see https://getbootstrap.com/docs/4.0/layout/grid/
*/

$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;

@mixin xs {
  @media (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin xsOnly {
  @media (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$md - 1px}) {
    @content;
  }
}

@mixin smUp {
  @media (min-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin smOnly {
  @media (max-width: #{$md - 1px}) and (min-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$lg - 1px}) {
    @content;
  }
}

@mixin mdUp {
  @media (min-width: #{$md - 1px}) {
    @content;
  }
}

@mixin mdOnly {
  @media (min-width: #{$md - 1px}) and (max-width: #{$lg - 1px}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$xl - 1px}) {
    @content;
  }
}

@mixin lgUp {
  @media (min-width: #{$lg - 1px}) {
    @content;
  }
}

@mixin lgOnly {
  @media (min-width: #{$lg - 1px}) and (max-width: #{$xl - 1px}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$xxl - 1px}) {
    @content;
  }
}

@mixin xlUp {
  @media (min-width: #{$xl - 1px}) {
    @content;
  }
}

@mixin xlOnly {
  @media (min-width: #{$xl - 1px}) {
    @content;
  }
}
