/* TODO: Improve this one

Colors vars have to look like this one, always need at least a 'base'

A looking like map must be created and imported with the color mixin
(Inside the style.scss or the shared file)

$colors: (
  "primary": (
    light: #ffa,
    base: #ffb,
    dark: #ffc,
  ),
  "secondary": (
    light: #ffd,
    base: #ffe,
    dark: #fff,
  ),
  "default": (
    success: #28a745,
    danger: #dc3545,
    warning: #ffc107,
    dark: #343a40,
    light: #fff,
    muted: #6c757d,
  ),
);
*/

@function color($color, $tone: base, $alpha: false) {
  @if ($alpha) {
    @return rgba(map-get(map-get($colors, $color), $tone), var(--alpha));
  }

  @return map-get(map-get($colors, $color), $tone);
}

/* * Sample
h1 {
  background: color('primary');
  color: color('primary', 'light');
}
* */
