/* TODO: Improve this one

Colors vars have to look like this one, always need at least a 'base'
$colors: (
  "primary": (
    light: #ffa,
    base: #ffb,
    dark: #ffc,
  ),
  "secondary": (
    light: #ffd,
    base: #ffe,
    dark: #fff,
  ),
  "default": (
    success: #28a745,
    danger: #dc3545,
    warning: #ffc107,
    dark: #343a40,
    light: #fff,
    muted: #6c757d,
  ),
);
*/
@function color($color-name, $tone: base) {
  @return map-get(map-get($colors, $color-name), $tone);
}
/* * Sample
h1 {
  background: color('primary');
   color: color('primary', 'light');
}
* */
